# ----------- MQTT with HiveMQ Broker -----------

MQTT_BROKER_HOST=
MQTT_BROKER_PORT=8883
MQTT_USE_TLS=true
MQTT_USERNAME=
MQTT_PASSWORD=


# ----------- MQTT Topics -----------
MQTT_TOPIC_CARD_READ=access-control/sensor/card
MQTT_TOPIC_DOOR_SENSOR=access-control/sensor/door
MQTT_TOPIC_ACCESS_DECISION=access-control/access/decision
